    <main id="main" class="dashboard sign-up">
        <!-- begin hero component -->
        <section class="hero container">
            <header class="section-header">
                <img class="header-image" src="/assets/images/icons/JamComments-header.svg" alt="">
                <h1 class="section-title heading-font">Welcome to <span>JamComments</span></h1>
                <h2 class="section-title heading-font">Wanna sign up?</h2>
            </header>
        </section>
        <!-- end hero component -->
        <!-- begin sign in form -->
        <section class="settings container sign-up">
            <div class="settings-column">
                <div id="sign-up" class="card settings-tab">
                    <form action="/account/signup" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input type="text" id="username" name="username" placeholder="Create a username" required>
                        <label class="admin-setting-description" for="username"><small>This is your nickname, not your
                                email</small></label>
                        <input type="email" id="email" name="email" placeholder="Add your email" required>
                        <label class="admin-setting-description" for="email"><small>Used only for password reset
                                etc.</small></label>
                        <input type="password" id="password" name="password" placeholder="Create a password"
                            minlength="8" required>
                        <label class="admin-setting-description" for="password"><small>Password should be 8 characters
                                minimum</small></label>
                        <button class="btn" type="submit">Sign up</button>
                    </form>
                    <p class="heading-font admin-setting-description">Have an account already? <a
                            href="/auth/login">Sign in instead</a></p>
                </div>
            </div>
        </section>
        <!-- end sign up form -->
    </main>
