<div class="container">
  <ul class="nav nav-pills mb-5">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/account/settings/">Settings</a>
    </li>
  </ul>

<h3>Account settings</h3>

  <h4>Api key</h4>
  <section class="row">
    <div class="col">
      {{ token.token }}
    </div>
    <div class="col">
      <form method="POST" action="/account/settings/token/refresh">
        <button type="submit" class="btn btn-primary">Reissue</button>
      </form>
    </div>
  </section>

  <h4>Comments settings</h4>
  <form method="POST" action="/account/settings">
    <section class="row">
      <div class="col">
        Use anti-SPAM protection (Akismet)
      </div>
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" 
            value="1"
            type="checkbox" 
            name="useAkismet" 
            id="useAkismet"{{#if useAkismet}} checked{{/if}}>
        </div>
      </div>
    </section>
    <section class="row">
      <div class="col">
        Akismet API key
      </div>
      <div class="col">
        <input class="form-control"
          type="text"
          name="akismetKey"
          id="akismetKey"
          value="{{ akismetKey }}"/>
      </div>
    </section>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>