<div class="container">
  <h1>JamComments</h1>
  <div class="alert alert-warning" role="alert">
    There was an error signing you up, buddy. Sorry about that. <a href="/account/signup">Try again, maybe?</a>
  </div>
</div>