version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    ports:
      - "3030:3030"
    networks:
      - my_network
    environment:
      NODE_ENVIRONMENT: production
      PGHOST: db
      PGPORT: ${PGPORT}
      PGUSER: ${PGUSER}
      PGPASSWORD: ${PGPASSWORD}
      PGDATABASE: ${PGDATABASE}
    depends_on:
      - db

  api:
    build:
      context: .
      dockerfile: Dockerfile-api
    ports:
      - "3000:3000"
    networks:
      - my_network
    environment:
      PGHOST: db
      PGPORT: ${PGPORT}
      PGUSER: ${PGUSER}
      PGPASSWORD: ${PGPASSWORD}
      PGDATABASE: ${PGDATABASE}
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    hostname: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${PGDATABASE}
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
    networks:
      - my_network
    volumes:
      - pgdata:/var/lib/postgresql/data
  
networks:
  my_network:
    driver: bridge

volumes:
  pgdata: