services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.local
    ports:
      - "${WEB_PORT}:3060"
    environment:
      NODE_ENVIRONMENT: development
      DB_PROVIDER: sqlite
      SQLITE_PATH: /usr/src/app/data/jcomments-migrated.db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: yarn start

  api:
    build:
      context: .
      dockerfile: Dockerfile.local
    ports:
      - "${API_PORT}:3000"
    environment:
      DB_PROVIDER: sqlite
      SQLITE_PATH: /usr/src/app/data/jcomments-migrated.db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: yarn start-api
