{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage":  "",
    "FUNCTIONS_WORKER_RUNTIME":  "node",
    "PGHOST": "DATABASE HOSTNAME",
    "PGPORT": 5432,
    "PGUSER": "DATABASE USER",
    "PGPASSWORD": "<DATABASE PASSWORD>",
    "PGDATABASE": "<DATABASE NAME>",
    "PGSSL": true,
    "SESSION_SECRET": "<RANDOM GUID>",
    "SESSION_LIFETIME": 2880,
    "MAILGUN_API_KEY":  "<YOUR MAILGUN API KEY>",
    "MAILGUN_DOMAIN": "<YOUR MAILGUN SENDER DOMAIN>",
    "MAILGUN_SENDER": "<YOUR MAILGUN SENDER EMAIL>",
    "UPLOAD_MAX_SIZE_BYTES": 30720000
  }
}
