    <main id="main" class="dashboard sign-up">
        <!-- begin hero component -->
        <section class="hero container">
            <header class="section-header">
                <img class="header-image" src="/assets/images/icons/JamComments-header.svg" alt="">
                <h1 class="section-title heading-font">Welcome to <span>JamComments</span></h1>
                <h2 class="section-title heading-font">Hello there! Forgot your password?</h2>
            </header>
        </section>
        <!-- end hero component -->
        <!-- begin sign in form -->
        <section class="settings container sign-up">
            <div class="settings-column">
                <div id="sign-up" class="card settings-tab">
                    <form action="/auth/forgot-password" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input type="text" id="username" name="username" placeholder="Create a username" required>
                        <label class="admin-setting-description" for="username">Your username or e-mail</label>
                        <button class="btn" type="submit">Help me out, please!</button>
                    </form>
                    <p class="heading-font admin-setting-description">Don't have an account yet? <a
                            href="/account/signup">Sign up instead</a></p>
                </div>
            </div>
        </section>
        <!-- end sign up form -->
    </main>
