<div class="container">
  <h1>JamComments</h1>
  <p class="lead mb-3">Okay, please hold on</p>
  <p class="mb-5">If you've entered the right username or password, an e-mail is on its way to you. It will explain how to reset your password. Check your SPAM folder, too, if the waiting gets long!</p>
  <p>Remember your password now? <a href="/auth/login">Sign in</a></p>
</div>
