<main id="main" class="dashboard sign-up">
    <section class="hero container">
        <header class="section-header">
            <img class="header-image" src="/assets/images/icons/JamComments-header.svg" alt="">
            <h2 class="section-title heading-font">Okay, please hold on</h2>
        </header>
    </section>
    <section class="settings container sign-up">
        <div class="settings-column">
            <div id="sign-up" class="card settings-tab">
                <p>If you've entered the right username or password, an e-mail is on its way to you. 
                    It will explain how to reset your password. Check your SPAM folder, too, if the waiting gets long!</p>
                <p>Remember your password now? <a href="/auth/login">Sign in</a></p>
            </div>
        </div>
    </section>
</main>
