<div class="container">
  <h1>JamComments</h1>
  <div class="alert alert-warning" role="alert">
    There was an error looking with this password reset link. It could be wrong, or used already. <a href="/auth/forgot-password">Try again?</a>
  </div>
</div>