<div class="container">
  <h1>JamComments</h1>
  <p class="lead mb-3">Good! Now please choose a new password.</p>
  <div class="row mb-5">
    <div class="col">
      <form method="POST" action="/auth/reset-password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" name="token" value="{{token}}">
        <div class="mb-3">
          <label for="password" class="form-label">Password (8 characters minimum)</label>
          <input type="password" class="form-control" id="password" name="password" minlength="8" required>
        </div>
        <button type="submit" class="btn btn-primary">Change my password</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
