<h1>Hello there!</h1>

<p>Someone (probably you) requested a new password for JamComments. We are happy to oblige.</p>

<p>Please click this link to create a new password for yourself:</p>
<p><a href="{{ link }}">{{ link }}</a></p>

<p>If this wasn't you, simply delete this email.</p>

<p>Best regards,</p>

<p>the JamComments team</p>