<div class="container">
  <h1>JamComments</h1>
  <p class="lead">Hello there! Forgot your password?</p>
  <div class="row mb-5">
    <div class="col">
      <form method="POST" action="/auth/forgot-password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="mb-3">
          <label for="username" class="form-label">Your username or e-mail</label>
          <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" required>
          <div id="usernameHelp" class="form-text">This can be your email or your username</div>
        </div>
        <button type="submit" class="btn btn-primary">Help me out, please!</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
  <p>Don't have an account yet? <a href="/account/signup">Sign up instead</a></p>
</div>
