<div class="modal" tabindex="-1" id="approveCommentsModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <span class="modal-heading heading-font">Really approve?</span>
        <p class="modal-description body-font">Are you sure you want to approve these comments?</p>
        <div class="modal-buttons">
            <button type="button" class="btn hollow-btn close" type="button">Cancel</button>
            <button type="button" class="btn brand-btn has-icon admin-setting-button confirm" type="button">Yup, approve them!</button>
        </div>
    </div>
</div>
