                <div class="search-container">
                    <form action="#">
                        <input class="search-field" type="text" placeholder="Search comments..." name="search-comments">
                    </form>
                </div>