<div class="modal" tabindex="-1" id="deleteCommentModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <span class="modal-heading heading-font">Really delete?</span>
        <p class="modal-description body-font">Are you sure you want to delete this comment?</p>
        <div class="modal-buttons">
            <button type="button" class="btn hollow-btn close" id="btnCancelDelete">Cancel</button>
            <button type="button" class="btn brand-btn has-icon admin-setting-button" id="btnDeleteComment">Yup, delete this!</button>
        </div>
    </div>
</div>
