<div class="container">
  <h1>JamComments</h1>
  <p>JamComments is a commenting platform for self-hosted static websites.</p>
  <p>TODO marketing copy.</p>
  <p><a href="/account/signup">Sign up</a> or <a href="/auth/login">Sign in</a></p>
</div>
